<form [formGroup]="service.form" class="normal-form" (ngSubmit)="saveEmployee()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input formControlName="fullName" matInput [(ngModel)]="employee.fullName" placeholder="Ф.И.О.*">
          <mat-error>Это поле является обязательным</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="dateOfBirth" matInput [(ngModel)]="employee.dateOfBirth"
                 [matDatepicker]="picker" placeholder="Дата рождения">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="address" matInput [(ngModel)]="employee.address" placeholder="Адрес">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="phone" matInput [(ngModel)]="employee.phone" placeholder="Телефон*">
          <mat-error>Это поле является обязательным</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="positionId" [(ngModel)]="employee.positionId" placeholder="Должность">
            <ng-container *ngFor="let position of positions">
              <mat-option value="{{position.id}}">{{position.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Добавить</button>
          <button mat-raised-button color="warn" type="button" (click)="onClear()">Очистить</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
